Asignment 1

Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

example of creating variables with different data types in Python:

In [1]:
# String variable
my_string = "Hello, World!"

# List variable
my_list = [1, 2, 3, 4, 5]

# Float variable
my_float = 3.14159

# Tuple variable
my_tuple = (10, 20, 30, 40, 50)

Q2. Given are some following variables containing data:

(i)	var1 = ‘ ‘

(ii)	var2 = ‘[ DS , ML , Python]’

(iii)	var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]

(iv)	var4 = 1.
What will be the data type of the above given variable.

In [3]:
var1 = ''

In [4]:
type (var1)

str

In [5]:
#This variable contains a single space enclosed in single quotes. It's a string with one character (a space).

In [8]:
var2 = '[ DS , ML , Python]'

In [9]:
type (var2)

str

In [10]:
#This variable contains a string that looks like a list but is still a string because it's enclosed in single quotes. It's a string data type.

In [13]:
var3 = ['DS' ,'ML' , 'Python' ]

In [14]:
type (var3)

list

In [15]:
 #This variable contains a list of strings. It's a list data type.

In [16]:
var4 = 1.

In [17]:
type(var4)

float

In [18]:
#This variable contains a floating-point number (a decimal number). It's a float data type.

(i) var1 is of type str (string).
(ii) var2 is of type str (string).
(iii) var3 is of type list.
(iv) var4 is of type float.

Q3. Explain the use of the following operators using an example:

(i)	/

(ii)	% 

(iii)	//

(iv)	**

(i) / (Division Operator):
The / operator is used for division. It divides the value on the left by the value on the right.

Example:

a = 10
b = 3
result = a / b
print(result)

In [20]:
#In this example, a / b divides 10 by 3, resulting in a floating-point number, 3.3333333333333335.

(ii) % (Modulus Operator):
The % operator is used for the modulus operation. It returns the remainder when the value on the left is divided by the value on the right.

In [21]:
a = 10
b = 3
result = a % b
print(result)

1

In [22]:
#In this example, a % b calculates the remainder when 10 is divided by 3, which is 1.

(iii) // (Floor Division Operator):
The // operator is used for floor division. It divides the value on the left by the value on the right and rounds down to the nearest whole number.

In [23]:
a = 10
b = 3
result = a // b
print(result)

3

In [24]:
#In this example, a // b divides 10 by 3 and rounds down to the nearest whole number, which is 3.

(iv) ** (Exponentiation Operator):
The ** operator is used for exponentiation. It raises the value on the left to the power of the value on the right.

In [26]:
a = 2
b = 3
result = a ** b
print(result)

8

In [27]:
#In this example, a ** b calculates 2 raised to the power of 3, which is 8.

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [31]:
a = [ 1,2,3.4,'abc',23,4578,4.56,True,False]
for i in a :
  print(type (i))
  print (i)

<class 'int'>
1
<class 'int'>
2
<class 'float'>
3.4
<class 'str'>
abc
<class 'int'>
23
<class 'int'>
4578
<class 'float'>
4.56
<class 'bool'>
True
<class 'bool'>
False

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [40]:
# Input the two numbers A and B
A = int (input())
B = int (input())

# Initialize a count variable to keep track of the number of divisions
count = 0

# Verify if A is divisible by B and count the divisions
while A >= B:
    if A % B == 0:
        A = A // B  # Perform floor division
        count += 1
    else:
        break  # Break the loop if there's a remainder

if A == 0:
    print(f"{A} is purely divisible by {B} {count} times.")
else:
    print(f"{A} is not purely divisible by {B}. Remainder: {A % B}")

 64
 6

64 is not purely divisible by 6. Remainder: 4

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [46]:
A = [10, 21, 6, 8, 9, 15, 30, 11, 12, 33, 18, 7, 4, 36, 25, 42, 2, 22, 27, 16, 19, 14, 20, 24, 13]
for n in A:
    if n % 3 == 0:
        print (n)
        print("is divisible by 3")
    else:
        print (n)
        print("is not divisible by 3")

10
is not divisible by 3
21
is divisible by 3
6
is divisible by 3
8
is not divisible by 3
9
is divisible by 3
15
is divisible by 3
30
is divisible by 3
11
is not divisible by 3
12
is divisible by 3
33
is divisible by 3
18
is divisible by 3
7
is not divisible by 3
4
is not divisible by 3
36
is divisible by 3
25
is not divisible by 3
42
is divisible by 3
2
is not divisible by 3
22
is not divisible by 3
27
is divisible by 3
16
is not divisible by 3
19
is not divisible by 3
14
is not divisible by 3
20
is not divisible by 3
24
is divisible by 3
13
is not divisible by 3

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.